# User files
.vscode/
.git/
__pycache__/
.pytest_cache/
llmini.egg-info/

# File types
*.out
*.log

# Ignore full checkpoint file
checkpoints/tinygpt_full.pt

# Ignore bad checkpoints directory
checkpoints/.broke/

.DS_Store

